/* body {
    font-size: 10px;
} */

.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: center;
}

.displayweather {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    width: 2rem;
}

.forecast {
    display: flex;
    justify-content: center;
}

.weatherbox {
    background-color: lightblue;
    padding: 2.5rem;
    max-width: 10rem;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    max-width: 15rem;
    text-align: center;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    max-width: 12rem;
  }



.eateryDescription {
    max-width: 17rem;
}

.rightside {
    display: flex;
    flex-direction: column;
}

.eateryAddress {
    font-weight: bolder;
}

.chosenBizarre, .chosenEatery {
    display: flex;
    flex-direction: column;
}
