.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: center;
}

.displayweather {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    width: 2rem;
}

.forecast {
    display: flex;
    justify-content: center;
}

.weatherbox {
    background-color: lightblue;
    max-width: 10rem;

}

.eateryDescription {
    max-width: 17rem;
}

.rightside {
    display: flex;
    flex-direction: column;
}

.eateryAddress {
    font-weight: bolder;
}