.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: center;
}

.displayweather {
    display: flex;
    flex-direction: row;
}

img {
    width: 2rem;
}

.forecast {
    display: flex;
    justify-content: center;
}

.weatherbox {
    background-color: lightblue;
    padding: 2rem;
}